<h4>all budget table view</h4>
<table ngTable="income-dao" class="table">
  <tr *ngFor="let budget of allBudgetTable">
    <td title="'ID'" filter="{ id: 'number'}" sortable="'number'">
      {{budget.budgetId}}
    </td>
    <td title="'Type'" filter="{ type: 'text'}" sortable="'type'">
      {{budget.budgetType}}
    </td>
    <td title="'Description'" filter="{ description: 'text'}" sortable="'description'">
      {{budget.budgetDescription}}
    </td>
    <td title="'Tag'" filter="{ tag: 'text'}" sortable="'tag'">
      {{budget.budgetTag}}
    </td>
    <td title="'Amount'" filter="{ amount: 'number'}" sortable="'amount'">
      {{budget.budgetAmount}}
    </td>
    <td title="'Month'">
      {{budget.budgetMonth}}
    </td>
    <td title="'Year'">
      {{budget.budgetYear}}
    </td>
  </tr>
</table>
